/*COLORES*/
/*----------------------------------------------------------------------------*/
#iconoDarkmode{
    cursor: pointer;
}
:root {
   --primary-color: white;
    --secondary-color: #15171A;
   --boton-color: rgba(115, 190, 226,1);
   --tarjetas-libro-color:linear-gradient(180deg, white, white,white,#b1b1b1);
   --titulo-color: rgba(15, 23, 42, 1);
   --box-shadow-color:rgba(0, 0, 0, 0.5);
   --global-underline-color: #3897D3;
   --link-color: #3897D3;
   --footer-color: #80c8ff;
   --titulo-footer-color: #475569;
   --texto-footer-color: #94A3B8;
}
.dark-theme{
   --primary-color: #191919;
   --secondary-color: #ffffff;
   --boton-color: #73bee2;
   --tarjetas-libro-color: linear-gradient(180deg, #2e2e2e,#070707);
   --titulo-color: #ffffff;
   --box-shadow-color:rgba(0, 0, 0, 0.5);
   --global-underline-color: #80c8ff;
   --link-color: #80c8ff;
   --footer-color: #0f0f0f;
   --titulo-footer-color: #475569;
   --texto-footer-color: #94A3B8;
}
.coffe-theme {
    --primary-color: #ffe8cd;
    --secondary-color: #8e7258;
   --boton-color: rgba(115, 190, 226,1);
   --tarjetas-libro-color:#ffe8cd;
   --titulo-color: #77583b;
   --tarjetas-libro-color: linear-gradient(180deg, #ffe8cd, #ffe8cd,  #ffe8cd, rgba(44, 44, 44, 0.15));
   --box-shadow-color:rgba(0, 0, 0, 0.5);
   --link-color: #77583b;
   --global-underline-color: #80c8ff;
   --footer-color: #75583d;
   --titulo-footer-color: #475569;
   --texto-footer-color: #94A3B8;
}
/*----------------------------------------------------------------------------*/
