@media only screen and (max-width:600px){
    .container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .1fr .1fr .1fr .2fr .2fr .2fr;
        grid-template-areas: 
        "hello hello "
        "profile profile"
        "description description"
        "content1 content1"
        "content2 content2"
        "footer  footer";
    grid-gap: .5rem;}
    #nav{display: none;}

    #content{
        grid-area: content1;
        max-width: 1000px;
        height: auto;
        padding: 0;
        align-self: center;
        justify-self: stretch;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #content2{
        grid-area: content2;
        max-width: 1000px;
        height: auto;
        padding: 0;
        align-self: center;
        justify-self: stretch;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #space{display: none;}
    #space2{display: none; }
    #space3{display: none; }
    #footer{grid-area: footer;}



    #homeBooksTop3{
        box-sizing: border-box;
        align-self: center;
        max-width: 170px;
        height: auto;
        border-radius: var(--global-radius);
    }
/*-----------------------------------------------------------*/
#hello{
    grid-area: hello;
    justify-self: center;
    align-self: start;
    margin-top: -.1rem;
}
#description{
    grid-area: description;
    padding: 0px;
    max-width: 1000px;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    justify-self: center;
    align-self: start;
    margin-bottom:10px;
}  
#profile{
    grid-area: profile;
    justify-self: center;
    align-self: center;
    max-width: 1000px;
    height: auto;
    margin-bottom:10px;
    margin-left: 20px;
}
    #profilePicture{
        box-sizing: border-box;
        margin: 20px;
        width: 400px;
        height: auto;
        border-radius: var(--global-radius);
    }
.flexAbout{
    align-items: center;
    justify-items: center;
    max-width: 1000px;
    max-height: 200px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom:20px;
} 
.flexBooks{
    align-items: center;
    justify-items: center;
    max-width: 1000px;
    height: auto;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom:10px;
} 

.flexProyects{
    max-width: 1000px;
    max-height: auto;
    background-size: cover;
    background-size: 700px 220px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom:20px;
} 
.flexNotes{
    flex-direction: column;
    align-items: stretch;
    justify-items: center;
    max-width: 1000px;
    height: auto;
    margin-bottom:10px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom:20px;
} 
.flexSocials{
    align-items: stretch;
    justify-items: center;
    max-width: 1000px;
    max-height: 200px;
    margin-bottom:10px;
    margin-left: 20px;
    margin-right: 10px;
}
/*-----------------------------------------------------------*/
   
.relativeImagesFather{
    box-sizing: border-box;
    position: relative;
    justify-content: stretch;
    width: 100%;
    min-height: 370px;
/*    
  border: 3px solid #73AD21;
*/
}
.absoluteImages1{
    box-sizing: border-box;
    position: absolute;
    top: 13%;
    right: 55%;
    transform: rotate(-7deg);
}

.absoluteImages2{
    box-sizing: border-box;
    position: absolute;
    top: 7%;
    right: 14%;
    transform: rotate(8deg);
}
.absoluteImages3{
    box-sizing: border-box;
    position: absolute;
    top: 1%;
    right: 30%;
}
}